.first-scroll {
  flex-grow: 1;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: scroll;
}

.first-scroll-content {
  background: wheat;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  border: 1px solid rgba(0, 0, 0, 0.13);
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.second-scroll {
  position: relative;
  background: #8dc8ff;
  width: 400px;
  height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px solid rgba(0, 0, 0, 0.13);
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.second-scroll-content {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.form-container {
  background: #fffffe;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.13);
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1.5vmin;
  margin-bottom: 10vh;
}

#label1 {
  writing-mode: vertical-lr;
  position: fixed;
  font-size: 3vmin;
  top: 200px;
  left: 10px;
}

#label2 {
  writing-mode: vertical-lr;
  position: absolute;
  font-size: 3vmin;
  top: 680px;
  left: 140px;
  min-height: 40vh;
}

#label3 {
  writing-mode: vertical-lr;
  position: absolute;
  font-size: 3vmin;
  top: 1200px;
  left: 230px;
  min-height: 40vh;
  z-index: 1;
}

#label4 {
  writing-mode: vertical-lr;
  position: absolute;
  font-size: 3vmin;
  top: 595px;
  left: 25px;
  min-height: 40vh;
}
