.scroll-container {
  flex-grow: 1;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: scroll;
}

.scroll-content {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.horizontal-content {
}

.form-container {
  width: 400px;
  background: #fffffe;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.13);
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: auto;
}

#label1 {
  writing-mode: vertical-lr;
  position: fixed;
  font-size: 3vmin;
  top: 30vh;
  left: 1vw;
}

#label2 {
  position: absolute;
  font-size: 3vmin;
  top: 460px;
  left: 950px;
  min-width: 40vh;
}

.story {
  height: 800px;
}
