.scroll-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: scroll;
}

.scroll-content {
  position: relative;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-container {
  background: #fffffe;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.13);
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 50px;
  width: 400px;
}

#label1 {
  writing-mode: vertical-lr;
  position: fixed;
  font-size: 3vmin;
  top: 30vh;
  left: 1vw;
}

#label2 {
  writing-mode: vertical-lr;
  position: absolute;
  font-size: 3vmin;
  top: 605px;
  left: 210px;
  min-height: 40vh;
}
