* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: fixed;
  background: gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#temp {
  position: fixed;
  top: 5px;
  left: 182px;
  width: 100px;
  height: 300px;
  overflow: scroll;
  background: bisque;
  font-size: 0.7rem;
  z-index: 3;
}
.app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-basis: auto;
}

.options {
  height: 100vh;
  width: 180px;
  min-width: 180px;
  background: #eee9e9;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
}

.options-hide {
  width: 0px;
  min-width: 0px;
}

.menu-button {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.visible {
  z-index: 2;
}

.options > h3 {
  text-align: right;
  padding: 7px 7px 0px 10px;
  font-size: 0.6rem;
  cursor: pointer;
}
.containers {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px auto;
  font-size: 0.7rem;
}

button {
  margin: 5px 0;
  background: yellow;
  border-radius: 10px;
  padding: 3px 10px;
  text-align: left;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

form h3 {
  font-size: 24px;
  padding: 20px 0;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
form > input {
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 16px;
  line-height: 24px;
  height: 30px;
  color: black;
  padding: 10px 30px;
  margin-bottom: 20px;
  width: 100%;
}

form textarea {
  width: 100%;
  padding: 10px 14px;
  height: 100px;
  font-size: 16px;
}

form > div {
  width: 100%;
}

form > div > div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 24px;
  height: 24px;
}
form > div > div > input {
  height: 30px;
  margin-right: 10px;
}

form > input[name='Submit'] {
  width: 150px;
  height: 40px;
  padding-bottom: 35px;
  background: #fff000;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 70px;
}

.description {
  width: 300px;
  min-width: 300px;
  height: 75px;
  background: #8dc8ff;
  border-radius: 10px;
  margin-bottom: 70px;
  padding: 15px 20px;
  text-align: left;
}

#active {
  margin: 5px 7px 14px 7px;
}

.containers input {
  margin-bottom: 7px;
}

.containers h3 {
  margin-bottom: 7px;
}

.page-divider {
  width: 100%;
  border-bottom: 1px solid gray;
  margin: 11px 0px;
}
